* {
    margin: 0;
}

body {
    background-color: none;
}

section {
    // Background
    background-color: white;
    // Text Color
    color: black;
    height: 100vh;
    padding: 30px 100px 0 100px;
    // The NavBar Top
    nav {
        display: flex;
        justify-content: space-between;
        // padding: 30px 100px 0 100px;
        #day {
            width: 2em;
            height: 2em;
        }
        #night {
            width: 2em;
            height: 2em;
        }
        // Title
        .title_ {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 2rem;
        }
        .the_switch {
            display: flex;
            align-items: center;
        }
        // Toggle Switch
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            // Checkbox
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            // Slider
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: .4s;
                border-radius: 34px;
            }
            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: black;
                transition: .4s;
                border-radius: 50%;
            }

            input:checked + .slider {
                background-color: #ccc;
            }
              
              input:focus + .slider {
                box-shadow: 0 0 1px #ccc;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
    }
    // The Page Form
    form {
        // background-color: darkblue;
        height: 50vh;
        margin: 100px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        // The Input Divs
        .input_div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 30%;
            label {
                font-size: 1.3rem;
            }
            // Inputs
            .text_input {
                border: 2px solid black;
                padding: 10px 30px;
            }
        }
        // Submit Button
        .button_div {
            display: flex;
            flex-direction: column;
            width: 30%;
            margin: 10px 0 0 0;
            button {
                background-color: black;
                color: white;
                padding: 15px 30px;
                border: none;
                cursor: pointer;
            }
        }
    }
}

// DARK MODE
section.dark_mode {
    // Background
    background-color: black;
    // Text Color
    color: white;
    nav {
        .switch {
            .slider:before {
                background-color: white;
            }
        }
        // .switch {
        //     position: relative;
        //     display: inline-block;
        //     width: 60px;
        //     height: 34px;
        //     // Checkbox
        //     input {
        //         opacity: 0;
        //         width: 0;
        //         height: 0;
        //     }
        //     // Slider
        //     .slider {
        //         position: absolute;
        //         cursor: pointer;
        //         top: 0;
        //         left: 0;
        //         right: 0;
        //         bottom: 0;
        //         background-color: #ccc;
        //         transition: .4s;
        //         border-radius: 34px;
        //     }
        //     .slider:before {
        //         position: absolute;
        //         content: "";
        //         height: 26px;
        //         width: 26px;
        //         left: 4px;
        //         bottom: 4px;
        //         background-color: black;
        //         background-color: white;
        //         transition: .4s;
        //         border-radius: 50%;
        //     }

        //     input:checked + .slider {
        //         background-color: #ccc;
        //     }
              
        //       input:focus + .slider {
        //         box-shadow: 0 0 1px #ccc;
        //     }

        //     input:checked + .slider:before {
        //         -webkit-transform: translateX(26px);
        //         -ms-transform: translateX(26px);
        //         transform: translateX(26px);
        //     }
        // }
    }
    form {
        .text_input {
            border: 2px solid white;
            background-color: black;
        }
        button {
            color: black;
            background-color: white;
        }
    }
}